
body {
    background: #eee;
}
.page {
    width: 40%;
    margin: auto;
    background: white;
    padding: 14px 5% 14px 5%;
    font-size: 16px;
    box-shadow: 2px 2px 5px grey,-2px -2px 5px grey;
    font-family: serif;
}
h1 {
    text-align: center;
}
.photo {
    width: 40%;
    margin: auto;
}
img {
    width: 100%;
}

p {
    font-size: 18px;
    margin: 15px;
}

.profile p, a, .phone p, .feedback p {
    margin: 5px 15px;
}
li {
    font-size: 18px;
}
hr {
    display: block;
    margin: 0 auto;
    width: 100%;
    
}
.profile, .phone, .feedback {
    margin-top: 30px;
}
