@font-face {
    font-family: 'LeagueGothic';
    src: url(../fonts/LeagueGothic.otf);
}

.background {
    background-image: url(../img/bg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
    height: 100%;
}
.wrapper {
    width: 90%;
    margin: 0 auto;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 5%;
    padding-bottom: 12.3%;
}
.logo {
    width: 20%;
}
.logo-link {
    font-size: 4rem;
    color: rgb(255, 255, 255);
    text-shadow: 0px 2px 2px rgb( 0, 0, 0 );
    text-transform: uppercase;
    text-decoration: none;
    font-family: 'LeagueGothic', Arial, sans-serif;
}
.logo-link--color {
    color: #745083;
}
nav {
    width: 66%;
    text-align: right;
}
.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu__item {
    border-bottom: 2px solid rgba(0, 0, 0, 0);
    padding: .5%;
    padding-top: 0;
}
.menu__link {
    font-family: 'LeagueGothic', Arial, sans-serif;
    text-decoration: none;
    font-size: 2rem;
    color: #fff;
    text-transform: uppercase;
    text-shadow: 1px 1.732px 2px rgb( 0, 0, 0 );
    white-space: nowrap;
}
.menu__item:hover {
    border-bottom: 2px solid #edbfff;
    box-sizing: border-box;
}
.submenu__link {
    font-family: 'LeagueGothic', Arial, sans-serif;
    text-decoration: none;
    font-size: 1.5rem;
    color: #fff;
    text-transform: uppercase;
    text-shadow: 1px 1.732px 2px rgb( 0, 0, 0 );
    white-space: nowrap;
}




/*__________________________________________*/
.main-nav {
    width: 250px;
    display: none;
}
.meinmenu {
    display: block;
    width: 250px;
    text-align: center;
}
.mainmenu__link {
    background: none;
    outline: none;
    border: none;
    cursor: pointer;
    border-bottom: 2px solid #edbfff;
    box-sizing: border-box;
    padding-left: 2%;
    padding-right: 2%;
    line-height: 2.4rem;
}
.mainmenu__item {
    position: relative;
    margin: 0 auto;
    line-height: 2.8rem;
    border-bottom: none;
    height: 2.8rem;
    border-top: 1px solid rgba(0,0,0,0);
    box-sizing: border-box;
    
    
}
.submenu {
    display: none;
    width: 250px;
    position: absolute;
    top: 2.7rem;
    left: -1px;
    background: rgba(54, 41, 62, 0.8);
    border-radius: 0 0 15px 15px;
    border: 1px solid #051116;
    border-top: none;
    box-sizing: border-box;
    z-index: 2;
}
.submenu__item {
    border-top: 1px solid #513e59;
    border-bottom: 1px solid #35273d;
    box-sizing: border-box;
    height: 2.8rem;
    line-height: 2.8rem;
}
.submenu__item:last-child {
    border-radius: 0 0 15px 15px;
}

.mainmenu__item:hover {
    background: rgba(54, 41, 62, 0.8);
    border-bottom: none;
    line-height: 1.2;
    border-radius: 15px 15px 0 0;
    border: 1px solid #051116;
}
.mainmenu__item:hover .submenu {
    display: block;
    line-height: 1.2;
}
.submenu__link {
    display: block;
    width: 100%;
    line-height: 2.8rem;
}
.submenu__item:hover {
    background: rgba(54, 41, 62, 0.9);
    border-top: 1px solid #513e59;
    height: 2.8rem;
}
.submenu__item:last-child:hover {
    background: rgba(54, 41, 62, 0.9);
    border-radius: 0 0 15px 15px;
}
/*__________________________________________*/





.bg-slider {
    position: relative;
    background: rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    z-index: 1;
}
.slider-left {
    display: block;
    position: absolute;
    top: 44%;
    left: 0;
    
}
.slider-right {
    display: block;
    position: absolute;
    top:44%;
    right: 0px;
}
.slider-img-right {
    transform: scaleX(-1);
}

.slider {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 3.2%;
}
.text {
    width: 65%;
}
.title {
    font-family: 'LeagueGothic', Arial, sans-serif;
    font-size: 4rem;
    text-transform:capitalize;
    color: rgb(254, 254, 254);
    text-shadow: 0px 2px 2px rgb( 0, 0, 0 );
}
.subtitle {
    font-family: 'LeagueGothic', Arial, sans-serif;
    text-transform: uppercase;
}
.subtitle--slider {
    font-size: 2.3rem;
    color: #edbfff;
    text-shadow: 0px 2px 2px rgb( 0, 0, 0 );
}
.paragraph {
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 1rem;
    color: rgb(255, 255, 255);
    line-height: 1.5;
}
.paragraph--slider {
    text-shadow: 0px 2px 2px rgb( 0, 0, 0 );
    padding-top: 1%;
    box-sizing: border-box;  
}
.img-iphone {
    width: 30%;
    margin-top: -1.8%;
}
.img-iphone img {
    display: block;
    float: right;
    width: 100%;
}
.slider-btn {
    width: 100px;
    display: flex;
    justify-content: space-around;
    padding: 7% 0;
    margin: 0 auto;
}
.slider-btn__radio {
    display: none;
}
.slider-btn__item {
    display: inline-block;
    cursor: pointer;
    position: relative;
    font-size: 18px;
}
.slider-btn__item::before {
    content: "";
    display: inline-block;
    width: 18px;
    height: 18px;
    position: absolute;
    margin-right: 10px;
    background: rgba(0,0,0,0.3);
    border-radius: 50%;
    line-height: 18px;
    border: 3px solid rgba(1,1,1,0);
    box-sizing: border-box;
}
.slider-btn__radio:checked+.slider-btn__item::before {
    content: "";
    background: #fff;
    text-align: center;
    line-height: 18px;
    border: 3px solid rgba(1,1,1,0.6);
}
.bg-blurb {
    background: linear-gradient(#745083, #322539);
}
.blurb {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5.7% 0;
    box-sizing: border-box;
}
.blurb-section {
    width: 33%;
    display: flex;
    justify-content: space-between;
}
.blurb-text {
    padding: 0 5%;
}
.subtitle--blurb {
    font-size: 2rem;
    color: rgb( 255, 255, 255 );
    text-shadow: 0.5px 1px 0px rgb( 15, 21, 24 );
    text-transform: uppercase;
}
.paragraph--blurb {
    color: rgb(254, 254, 254);
    text-shadow: 0.5px 0.866px 0px rgb( 15, 21, 24 );
    margin: 14px 0;
}
.blurb-img {
    color: rgb(255, 255, 255);
    font-size: 2rem;
    padding: 4px 9px;
}
.blurb--img-blok {
    display: block;
    width: 2rem;
}
.img-transform {
    transform: scaleX(-1);
}
.blurb-link {
    display: block;
    width: 90%;
    font-size: 1.3rem;
    font-family: "LeagueGothic", Arial, sans-serif;
    color: rgb( 255, 255, 255 );
    text-shadow: 0.5px 0.866px 0px rgb( 15, 21, 24 );
    text-transform: uppercase;
    text-decoration: none;
    text-align: right;
    
    
}
.blurb-link:hover {
    text-shadow: 0px 0px 8px rgb( 255, 255, 255 );  
}
.bg-content {
    background: #f9f9f9;
}
.content {
    display: flex;
    justify-content: space-between;
    padding: 5% 0;
}
.reviews-conteiner {
    width: 45%;
}
.reviews {
    position: relative;
    width: 95%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background: #fff;
    margin-left: 25px;
    padding: 10% 7% 7% 0;
    padding-left: 0;
    box-sizing: border-box;
    box-shadow: 0px 1px 5px -3px #000;
}
.reviews:after {
    content: '';
    display: block;
    position: absolute;
    right: 40px;
    bottom: -15px;
    width: 30px;
    height: 30px;
    box-shadow: 2px 2px 2px -3px #000;
    background-color: white;
    transform: rotate(68deg) skew(30deg);
}
.reviews-img {
    background-image: url(../img/sprite.png);
    width: 49px;
    height: 50px;
    margin-left: -25px;
}
.reviews-text {
    width: 90%;
}
.slider-btn--reviews {
    margin-top: 5%;
}


.paragraph--content {
  color: rgb( 69, 69, 69 );
  text-shadow: 0.5px 0.866px 0px rgb( 255, 255, 255 );
    
}
.paragraph--blog {
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: clip;
}
.subtitle--content {
    text-decoration: none;
    font-size: 2rem;
    color: rgb( 69, 69, 69 );  
    text-shadow: 0.5px 0.866px 0px rgb( 255, 255, 255 );
}
.subtitle--pink {
    color: #edbfff;
}

.blog {
    width: 55%;
    padding: 5%;
    box-sizing: border-box;
}

.blog-item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 2%;
    
}
.blog-img-1 {
    width: 49px;
    height: 49px;
    background: url(../img/sprite.png) -54px 0;
    background-size: cover;
    overflow: hidden;
    float: left;
}
.blog-img-2 {
    width: 49px;
    height: 49px;
    background: url(../img/sprite.png) -107px 0;
    background-size: cover;
}
.blog-img-3 {
    width: 49px;
    height: 49px;
    background: url(../img/sprite.png) -160px 0;
    background-size: cover;
}
.blog-img-1:before {
    content: '';
    display: block;
    padding-top: 100%;
    float: left;
}
.blog-text {
    display: inline-block;
    box-sizing: border-box;
    padding-left: 1rem;
    width: 80%;
}
.blog-links {
    display: block;
    font-family: 'OpenSans', sans-serif;
    text-decoration: none;
    font-size: 0.95rem;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: clip;
}
.blog-link {
    display: block;
    width: 100%;
    font-size: 1.3rem;
    font-family: "LeagueGothic", Arial, sans-serif;
    color: rgb( 69, 69, 69 );
    text-shadow: 0.5px 0.866px 0px rgb( 255, 255, 255 );
    text-transform: uppercase;
    text-decoration: none;
    text-align: right;
    padding-top: 4%;
}


.bg-logos {
    border-top: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;  
}
.logos {
    display: flex;
    justify-content: space-around;
    padding: 2rem;
    box-sizing: border-box;
}
.img-logos-1 {
    display: block;
    width: 70px;
    height: 65px;
    background: url(../img/logos.png) no-repeat;
}
.img-logos-2 {
    display: block;
    width: 72px;
    height: 65px;
    background: url(../img/logos.png) -74px 0 no-repeat;
}
.img-logos-3 {
    display: block;
    width: 65px;
    height: 65px;
    background: url(../img/logos.png) -150px 0 no-repeat;
}
.img-logos-4 {
    display: block;
    width: 60px;
    height: 65px;
    background: url(../img/logos.png) -217px 0 no-repeat;
}
.img-logos-5 {
    display: block;
    width: 103px;
    height: 65px;
    background: url(../img/logos.png) -278px 0 no-repeat;
}
.img-logos-6 {
    display: block;
    width: 82px;
    height: 65px;
    background: url(../img/logos.png) -394px 0 no-repeat;
}
.bg-section {
    background: #ececec;
}
.section {
    display: flex;
    justify-content: space-between;
    padding-top: 5rem;
    padding-bottom: 5rem;
}
.section-text-1, .section-text-2 {
    width: 30%;
}
.section-text-3 {
    display: none;
}
.section-logo {
  font-size: 3rem;
  font-family: "LeagueGothic", Arial, sans-serif;
  color: rgb( 69, 69, 69 );
  line-height: 1;
  text-shadow: 0px 1px 0px rgb( 255, 255, 255 );
    
}
.section-logo--color {
  color: rgb( 185, 185, 185 );
    
}
.paragraph--section {
    padding-top: 1rem;
}
.section-copyright {
  font-size: 1rem;
  font-family: "Georgia";
  color: rgb( 197, 197, 197 );
  font-style: italic;
  line-height: 1.5;
  text-shadow: 0.5px 0.866px 0px rgb( 255, 255, 255 );
  padding: 0.5rem 0 1rem 0;
}
.bg-footer {
    background: url(../img/bg-footer.png) no-repeat;
    background-size: cover;
}
footer {
    padding-top: 3rem;
    padding-bottom: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-link {
  font-size: 20px;
}
.copyright {
  font-size: 12px;
  font-family: "Open Sans", Arial, sans-serif;
  color: rgb( 255, 255, 255 );
  width: 50%;
    text-align: right;
    
}
.copyright--color {
    font-weight: bold;
}
@media screen and (min-device-width: 1700px) {
    html {
        font-size: 30px;
    }
}

/*@media screen and (min-device-width: 960px) {
    .background {
        min-width: 100%;
    }
    .wrapper {
        min-width: 932px;
        box-sizing: border-box;
    }
    .bg-slider {
        min-width: 100%;
    }
    .bg-blurb {
        min-width: 100%;
    }
    .bg-content {
        min-width: 100%;
    }
    .main-nav {
        display: none;
    }
}*/

@media screen and (max-width: 950px) {
   
    header {
        display: block;
    }
    nav {
        width: 82%;
        padding-top: 4%;
    }
    .subtitle--blurb {
        font-size: 1.8rem;
    }
    .paragraph--blurb {
        font-size: 0.9rem;
    }
    .blog-text {
        width: 83%;
    }
    footer {
        display: block;
    }
    .menu--footer {
        padding-bottom: 1rem;
    }
    .copyright {
        width: 100%;
    }
    .footer-link {
        font-size: 20px;
    }
    .main-nav {
        display: none;
    }
    .slider-img-left {
        padding-left: 0;
    }
}
@media screen and (max-width: 768px) {
   
    header {
        padding-bottom: 3rem;
    }
    nav {
        display: none;
    }
    .logo {
        width: 100%;
        margin: 0 auto;
        text-align: center;
    }
    .title {
        font-size: 3rem;
    }
    .subtitle {
        font-size: 2rem;
    }
    .paragraph--slider {
        display: none;
    }
    
    .blurb {
        display: block;
    }
    .blurb-section {
        width: 80%;
        margin: 10% auto;
    }
    .content {
        display: block;
        width: 80%;
    }
    .reviews {
        width: 100%;
        padding-bottom: 0.5rem
    }
    .reviews-conteiner {
        width: 100%;
        margin: 0 auto;
    }
    .blog {
        width: 100%;
    }
    .section {
        display: block;
    }
    .section-text-1 {
        display: none;
    }
    .section-text-2, .section-text-3 {
        display: block;
        width: 80%;
        margin: 0 auto;
    }
    .section-text-2 {
        padding-bottom: 2rem;
    }
    .copyright {
        width:50%;
        text-align: center;
        margin: 0 auto;
    }
    .main-nav {
        display: block;
        margin: 0 auto;
        margin-top: 1rem;
    }
    .logos {
        display: block;
    }
    .logo-conteiner {
        display: inline-block;
        width: 32%;
    }
    .img-logos-1, .img-logos-2, .img-logos-3, .img-logos-4, .img-logos-5, .img-logos-6 {
        margin: 1rem auto;
    } 
    .slider-img-left {
        padding-left: 0;
        padding-right: 1%;
    }
    .blog {
        margin: 0 auto;
    }
    .blog-conteiner {
        margin: 0 auto;
    }
    .menu--footer {
        display: block;
        margin: 0 auto;
    }
    footer {
        padding-top: 1rem;
        padding-bottom: 3rem;
    }
    .slider-btn--reviews {
        padding: 10% 0;
    }
    .reviews:after {
        display: none;
    }
}

@media screen and (max-width: 480px) {
  
    header {
        padding-bottom: 3rem;
    }
    nav {
        display: none;
    }
    .logo {
        margin: 0 auto;
        width: 100%;
        text-align: center;
    }
    .slider {
        padding: 4rem 0;
    }
    .paragraph-slider {
        display: none;
    }
    .text {
        width: 90%;
        margin: 0 auto;
        text-align: center;
    }
    .img-iphone {
        display: none;
    }
    .blurb-section {
        width: 100%;
    }
    .content {
        display: block;
        width: 85%;
    }
    .reviews {
        width: 90%;
        height: 220px;
    }
    .reviews-text {
        overflow: hidden;
        text-overflow: clip;
    }
    .reviews-text {
        width: 85%;
    }
    .blog {
        width: 100%;
        padding-left: 0;
        padding-right: 0;
    }
    .blog-conteiner {
        width: 100%;
        margin: 0 auto;
    }
    .blog-item {
        padding-left: 0;
        padding-right: 0;
    }
    .blog-text {
        width: 82%;
    }
    .footer-link {
        font-size: 0.9rem;
    }
    .section-text-2 {
        padding-bottom: 2rem;
    }
    .copyright {
        width:50%;
        text-align: center;
        margin: 0 auto;
    }
    .main-nav {
        display: block;
        margin: 0 auto;
        margin-top: 1rem;
    }
    .logos {
        display: block;
    }
    .logo-conteiner {
        display: inline-block;
        width: 48%;
    }
    .img-logos-1, .img-logos-2, .img-logos-3, .img-logos-4, .img-logos-5, .img-logos-6 {
        margin: 1rem auto;
    } 
    .slider-img-left {
        padding-left: 0;
        padding-right: 1%;
    }
    .blog {
        margin: 0 auto;
    }
    .menu--footer {
        display: block;
    }
     .reviews:after {
        display: none;
    }
}
@media screen and (max-width: 320px) {
    .menu--footer {
        display: none;
    }
    footer {
        padding-bottom: 1rem;
    }
     .reviews:after {
        display: none;
    }
}